nav {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

main {
    display: grid;
    grid-template-areas: "box1" "box2" "box3" "box4";
    grid-template-columns: auto;
    grid-gap: 1%;
}

main h1:first-child {
    grid-area: box1;
}

main section:nth-child(2) {
    grid-area: box2;
}

main section:nth-child(3) {
    grid-area: box3;
}

main section:nth-child(4) {
    grid-area: box4;
}